#inbox {
  padding-top: 40px;
  background-color: #f4f4f4;
  margin-bottom: -90px;
  padding-bottom: 150px;
}
#inbox .badge {
  position: absolute;
  left: -6px;
  top: 23px;
  height: 10px;
  padding: 0;
  background-color: #E95E5E;
}
#inbox .badge:empty {
  display: block;
}
#inbox .header {
  padding: 20px;
}
#inbox .header img {
  margin-left: 7px;
  float: left;
}
#inbox .header h4 {
  font-size: 30px;
  margin-top: 12px;
  margin-left: 70px;
}
#inbox .header .booking {
  padding-top: 30px;
  padding-left: 16px;
}
@media only screen and (max-width: 768px) {
  #inbox .header h4 {
    text-align: center;
    margin: 0;
  }
}
#inbox td {
  padding: 20px;
}
#inbox .avatar {
  margin-left: 10px;
}
#inbox .table {
  margin-bottom: 0;
}
#inbox a {
  color: #464646;
}
#inbox .empty-inbox {
  font-size: 16px;
  padding-bottom: 30px;
}
#inbox .empty-inbox a {
  color: #71baaf;
}
#conversation {
  padding-top: 40px;
  background-color: #f4f4f4;
  margin-bottom: -90px;
  padding-bottom: 150px;
}
#conversation .other-user img {
  padding: 10px;
}
#conversation .card {
  padding: 15px;
}
