@import (reference) "./../../../views/assets/css/includer.less";

#item {
  section {
    padding-bottom: 0;
    margin-top: 60px;
    background-color: rgba(244, 244, 244, 1);
  }

  .main-info {
    margin-top: 43px;
    a {
      &:link, &:visited, &hover, &:active {
        color: black;
        text-decoration: none;
      }
    }
    .owner-name {
      text-align: center;
      padding: 10px;
    }
    .item-title {
      font-size: 23px;
      font-weight: 500;
    }
    .item-location {
      font-size: 17px;
    }

    .icon-row {
      .fa {
        font-size: 33px;
        color: darken(@grey-light,25);
        text-align: center;
      }
      .icon-text {
        text-align: center;
        font-size: 14px;
      }
    }

  }

  /*Area for google maps*/
  .map {
    margin-top: 40px;
    height: 400px;
    .google, iframe {
      height: 100%;
    }
  }

  /*Small thumbnails in content section*/
  .image {
    cursor: pointer;

  }

  .item-images {
    margin-left: -5px;
    margin-bottom: 30px;
    .gallery-item img {
      height: 152px;
      margin: 5px;
    }
  }

  #gallery {
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-align-content: center;
    align-content: center;
    padding: 3px;
    a {
      width: 12%;
      -webkit-order: 0;
      order: 0;
      -webkit-flex-grow: 0;
      -webkit-flex-shrink: 1;
      flex-shrink: 1;
      -webkit-flex-basis: auto;
      flex-basis: auto;
      -webkit-align-self: auto;
      align-self: auto;
      flex-grow: 1;
      padding: 3px;
    }
    img {
      width: 100%;
      height: auto;
    }
  }

  #booking-widget {
    margin-top: 40px;
    .text {
      margin-bottom: 10px;
    }
    .price-bg {
      background-color: @primary-bg;
      margin-bottom: 20px;
    }
    h4 {
      font-weight: 600;
      font-size: 20px;
      .period {
        font-size: 15px;
      }
      color: white;
      margin-top: 5px;
      padding-bottom: 20px;
    }
    .form-control {
      border-radius: 2px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
    }
    .btn {
      border-radius: 2px;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      margin-bottom: 15px;
    }
    .overlay {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: white;
      visibility: hidden;
      left: 0;
      opacity: 0;
    }
    .spinning-img {
      margin-left: 43%;
      width: 12%;
    }
  }
}
