@import (reference) "./../../../views/assets/css/base/variables.less";

/*Search page*/
#search-cards{
  margin-top: 70px;
  position: relative;
  padding-top: 80px;

  /*Making text proper for long and short titles*/
  .card .title{
    height: 50px;
    text-overflow: ellipsis;
    word-break: break-word;
    overflow: hidden;
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  /*Settings for the card width and responsiness*/
  .card-area-width{
    display: block;
    margin: auto;

    @media (max-width: 1020px) {
      display: block;
      width: 716px;
      margin-left:auto;
      margin-right:auto ;
    }
    @media (max-width: 730px) {
      max-width: 480px;
      width:auto;
    }
    @media (max-width: 476px) {
      width:100vw;
      display: block;
      margin-left:auto;
      margin-right:auto;
      .card-width{

      }
    }
    @media (min-width: 1020px) {
      margin-left: 296px;
//      max-width: 1196px;
      max-width: 1226px;
    }
    @media (min-width: 1780px) {
      display: block;
      margin: auto;
      max-width: 1226px;
    }
  }

  /*Filter area*/
  .filter-area-width{
    width: 250px;
    position: absolute;
    //    top: 170px;
    left: 30px;
    @media (max-width: 1019px) {
      display: none;
    }
    .clearfix{
      height: 30px;
    }
    .panel-body{
      padding-top: 0;
    }
    #refine-categories .panel-body{
      padding-top: 20px;
    }
  }
}

/*green subnavbar for searchpage*/
#navbar-sub-menu{
  margin-top: 0px;
  width: 100%;
  height: 60px;
  background-color: @primary-color;
  position: fixed;
  z-index: 999;
  transition: top 0.2s ease-in-out;
  &.nav-up {
    top: -60px;
//    opacity: 0;
  }

  .container-fluid, .col-sm-12 {
    @media (max-width: 480px) {
      padding-right: 2px;
      padding-left: 2px;
      margin-right: auto;
      margin-left: auto;
    }
  }
  ul{
    ist-style-type: none;
    margin: 0;
    padding: 0;
  }
  li{
    display: inline;
  }
  button{
    margin-top: 13px;
    float: left;
  }
  .filter{
    display: none;
    @media (max-width: 1019px) {
      display: inline;
    }
  }
  .result{
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 15px;
    margin: auto;
    width: 100px;
    text-align: left;
    color: @white-color;
    font-size: 17px;
    font-weight: 400;
    span{
      color:@white-color;
      font-weight: 300;
    }
    @media (min-width: 1020px) {
      float: left;
      position: relative;
//      text-align: center;
    }
  }
  li.dropdown{
    position: relative;
    float: right !important;
    .dropdown-menu{
      left: -75px;
      margin-top: 16px;
      &:before {
        border-bottom: 11px solid rgba(255,255, 255, 1);
        border-left: 11px solid rgba(0, 0, 0, 0);
        border-right: 11px solid rgba(0, 0, 0, 0);
        content: "";
        display: inline-block;
        position: absolute;
        right: 12px;
        top: -11px;
      }
    }
  }
  .sorting{
      float: right !important;
  }
}


