<div class="container" style="margin-top:70px;">
    <h2>
        {{ t("booking.fake_product.header", "Booking failed") }}
    </h2>
    {{ t("booking.fake_product.explanation_1", "We are so sorry, but we're having some trouble making this booking.") }}
    {{ t("booking.fake_product.explanation_2", "The technical reference is <b>k615g</b>.") | raw }}
    <br>
    {{ t("booking.fake_product.explanation_3", "Our engineers are notified of this problem and will try to fix it as soon as possible.") }}
</div>

