<table width="{{ width }}" align="left" border="0" cellpadding="0"
       cellspacing="0" class="devicewidth">
    <tbody>
    <tr>
        <td width="{{ width }}" align="{{ align }}" class="devicewidth">
            {{ content | raw }}
        </td>
    </tr>
    </tbody>
</table>