@import (reference) "./../../../views/assets/css/includer.less";

/* Google Autocomplete bugfix */
.pac-container {
  background-color: #FFF;
  z-index: 1060;
  position: fixed;
  display: inline-block;
  float: left;
}

/* Make sure that modals are below Google Autocomplete */
.modal, .modal-dialog {
  z-index: 1050 !important;
}

#search {
  @media only screen and (min-width: 992px) {
    .panel-title {
      padding: 16px 16px 0;
    }
  }
  background-color: @grey-light;
  margin-bottom: -90px;

  section{
    background-color: @grey-light;
  }
  .modal-backdrop {
    opacity: 0 !important;
  }

  .minPrice {
    display: inline-block;
    margin-left: 10px;
  }
  .maxPrice {
    float: right;
    display: inline-block;
    margin-right: 10px;
  }

  .modal {
    padding-top: 10px;
    .modal-footer {
      text-align: left;
    }

    .modal-body {
      padding: 0 !important;
      margin-top: -20px;
    }
  }

  .buttonContainer {
    button {
      border-radius: 2px;
      width: 80vw;
      font-size: 16px;
    }
    position: fixed;
    top: 85vh;
    right: 50%;
    left: 50%;
    margin-left: -40vw;
  }

  .btn-xs {
    margin: 4px;
  }

  .loader {
    width: 100%;
    text-align: center;
    padding: 15px 0;
  }

  @media only screen and (max-width: 768px) {
    .card-width {
      padding: 0;
      margin: 0;
    }

    .card {
      border-radius: 0;
      box-shadow: none;
    }
  }
}
