.carousel.carousel-fit{position:relative}.carousel.carousel-fit.slide{overflow:hidden}.carousel.carousel-fit .carousel-inner>.next,.carousel.carousel-fit .carousel-inner>.prev{bottom:0}.carousel.carousel-fit .carousel-inner>.item{text-align:center}.carousel.carousel-fit .carousel-inner>.item>img{display:inline-block}.carousel.carousel-fit .carousel-inner>.item>.carousel-caption{bottom:0;left:0;right:0}.modal.modal-fullscreen .modal-dialog,.modal.modal-fullscreen .modal-content{bottom:0;left:0;position:absolute;right:0;top:0}.modal.modal-fullscreen .modal-dialog{margin:0;width:100%}.modal.modal-fullscreen .modal-content{border:none;-moz-border-radius:0;border-radius:0;-webkit-box-shadow:inherit;-moz-box-shadow:inherit;-o-box-shadow:inherit;box-shadow:inherit}.modal.modal-fullscreen.force-fullscreen .modal-body{padding:0}.modal.modal-fullscreen.force-fullscreen .modal-header,.modal.modal-fullscreen.force-fullscreen .modal-footer{left:0;position:absolute;right:0}.modal.modal-fullscreen.force-fullscreen .modal-header{top:0}.modal.modal-fullscreen.force-fullscreen .modal-footer{bottom:0}
/*Public profile*/
#public-profile {
  margin-top: 70px;
}
#public-profile .card-user {
  margin-top: 60px;
}
#public-profile .avatar {
  border-color: #fbfbfb;
}
#public-profile .footer {
  color: #9A9A9A;
  text-align: center;
}
#public-profile .verifyEntity {
  margin-bottom: 2px;
  font-size: 22px;
}
#public-profile .verifyEntity .entity {
  padding-top: 4px;
  font-size: 15px;
}
#public-profile .verifyEntity .fa-check {
  color: #71baaf;
}
#public-profile h4 {
  margin-top: -13px;
  margin-bottom: -1px;
}

.user-review-stars .fa-star {
  color: #71baaf;
}

/* For a better mobile experience */
@media all and (max-width: 768px) {
  .card-width .price-badge {
    left: 10px !important;
  }
  .card-width .author {
    right: 15px !important;
  }
  .content {
    padding: 20px 35px !important;
  }
}
/*Gloabl product card*/
.card-width {
  cursor: pointer;
  text-align: left;
}
.card-width .title,
.card-width .category {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-width .reviews,
.card-width .location {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-width .reviews {
  width: 60%;
}
.card-width .location {
  width: 40%;
}
.card-width .location {
  text-align: right;
}
.card-width .footer-divs {
  margin-top: 8px;
}
.card-width .price-badge {
  position: absolute;
  left: -2px;
  bottom: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: #FFFFFF;
  z-index: 999999999;
  font-size: 14px;
  font-weight: 600;
}
.card-width .price-badge .price {
  font-size: 24px;
}
.card-width .price-badge .time {
  display: block;
  margin-top: -5px;
  font-weight: 300;
}
.card-width .fa {
  font-size: 14px;
}
.card-width h3 {
  font-size: 16px;
  margin: 0;
}
.card-width .author {
  position: absolute;
  right: 1px;
  bottom: 10px;
}
.card-width .image {
  border-bottom: 3px solid #71baaf;
}
.card-width .content {
  margin: 0;
}
.card-width .location {
  float: right;
}
