---
- name: Install nodejs
  sudo: yes
  apt: pkg=nodejs state=latest
- name: Install npm
  sudo: yes
  apt: pkg=npm state=latest
- name: Get npm global temporary directory
  command: npm -g config get tmp
  register: nodejs_npm_tempdir
  changed_when: False

- name: Set npm global temporary directory to /tmp
  command: npm -g config set tmp /tmp
  when: nodejs_npm_tempdir.stdout != '/tmp'

- name: install the latest npm global packages
  npm:
    name: '{{ item }}'
    state: latest
    global: yes
  with_items: npm_packages