{% embed "modules/notification/views/layouts/htmlv2.twig" %}

    {% block title %}
        Booking - Confirmation
    {% endblock %}

    {% block subtitle %}
        Optional subtitle
    {% endblock %}

    {% block content %}
        <table width="100%">
            <tr>
                <td>
                    <h3>Booking owner confirmation</h3>
                    <p>
                        {{ user | raw }}Lorem ipsum bla bla.
                    </p>
                </td>
            </tr>
        </table>
    {% endblock %}

{% endembed %}