{% embed "modules/notification/views/layouts/htmlv2.twig" %}

    {% block title %}
        Example fallback e-mail
    {% endblock %}

    {% block content %}
        <h3>Example subtitle</h3>
        <p>Example text.</p>
    {% endblock %}

{% endembed %}