{% embed "modules/notification/views/layouts/htmlv2.twig" %}

    {% block title %}
        Nye indlæg
    {% endblock %}

    {% block content %}
        <p>Du modtager en ny besked.</p>
    {% endblock %}

{% endembed %}