{% embed "modules/notification/views/layouts/htmlv2.twig" %}

    {% block title %}
        {{ t('mail.review_reminder.title', title) | raw }}
    {% endblock %}

    {% block headerimage %}
        {{ base64_image('@notification-assets/images/headers/blue_4.jpg') | raw }}
    {% endblock %}

    {% block content %}

        <p>I hope you had a great experience from the rent with {{ owner_name | raw }}.</p>

        <p>I am writing because, you have not yet completed the review. You could do it right now, it only takes 20 seconds! <a href="#">Click here</a>.</p>

    {% endblock %}

{% endembed %}