{% embed "modules/notification/views/layouts/htmlv2.twig" %}

    {% block title %}
        {{ t('mail.review_request.title', title) | raw }}
    {% endblock %}

    {% block headerimage %}
        {{ base64_image('@notification-assets/images/headers/blue_5.jpg') | raw }}
    {% endblock %}

    {% block content %}

        <p>
            {{ t('mail.review_request.p1',
                'Hurrah! I hope you had an awesome experience using KidUp. Now you can make a {review_link} of {owner_username}.', {
                'review_link': '<a href="' ~ review_url ~ '" target="_blank">' ~ t('mail.links.review', 'review') ~ '</a>',
                'owner_username': owner_username
            }) | raw }}
        </p>

        <p>
            {{ t('mail.review_request.p2',
                'It only takes 20 seconds, and helps authenticate users, and highlight the good parents of KidUp. So help us help you, by making a {review_link}.', {
                'review_link': '<a href="' ~ review_url ~ '" target="_blank">' ~ t('mail.links.review', 'review') ~ '</a>'
            }) | raw }}
        </p>

    {% endblock %}

{% endembed %}