{% embed "modules/notification/views/layouts/htmlv2.twig" %}

    {% block title %}
        {{ t('mail.review_reminder.title', title) | raw }}
    {% endblock %}

    {% block headerimage %}
        {{ base64_image('@notification-assets/images/headers/blue_4.jpg') | raw }}
    {% endblock %}

    {% block content %}

        <p>
            {{ t('mail.review_reminder.p1',
                'I hope you had a great experience from the rent with {owner_name}.', {
                'owner_name': owner_name
            }) | raw }}
        </p>

        <p>
            {{ t('mail.review_reminder.p2',
            'I am writing because, you have not yet completed the review. You could do it right now, it only takes 20 seconds! {review_link}.', {
                'review_link': '<a href="' ~ review_url ~ '" target="_blank">' ~ t('mail.links.click_here', 'Click here') ~ '</a>'
            }) | raw }}
        </p>

    {% endblock %}

{% endembed %}