<form action="{{ url("search") }}" method="get" class="navbar-form navbar-left" role="search">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="{{ t("menu_search.input_placeholder", "Search..") }}"
               id="menu-search-input"
               name="q"
               style="padding:19px;border-radius: 2px;border: 1px solid;width:20vw;max-width: 300px;color:#272727;border-color: #E3E3E3;">
    </div>
        <button type="submit" class="btn btn-danger"
                style="border-radius: 2px;">
            {{ t("item.menu_search.search_button", "Search") }}
        </button>
</form>
