<form action="{{ url("search") }}" method="get" class="navbar-form navbar-left" role="search">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" id="menu-search-input"
               style="padding:19px;border-radius: 2px;border: 1px solid;width:20vw;max-width: 300px;">
    </div>
    <button type="submit" class="btn btn-danger"
            style="border-radius: 2px;">{{ t("item.menu_search.search_button", "Search") }}</button>
</form>
