---
- hosts: staging
  sudo: true
  vars:
    web_server: apachephp
    servername: 178.62.234.114 test.kidup.dk
    timezone: Europe/Amsterdam
    hostname: test.kidup.dk
    doc_root: /var/www/current
    ini_template: php-prod.ini
  vars_files:
    - vars/mysql.yml
    - vars/common.yml
    - [ "vars/apachephp.yml", "vars/ws_defaults.yml" ]
  roles:
    - init
    - apache
    - php5
    - mysql
    - phpcommon
    - nodejs
    - app

- hosts: production
  sudo: true
  vars:
    web_server: apachephp
    servername: 54.93.103.33 kidup.dk
    timezone: Europe/Amsterdam
    hostname: kidup.dk
    doc_root: /var/www/current
    ini_template: php-prod.ini
  vars_files:
    - vars/mysql.yml
    - vars/common.yml
    - [ "vars/apachephp.yml", "vars/ws_defaults.yml" ]
  roles:
    - init
    - apache
    - php5
    - phpcommon
    - mysql
    - nodejs
    - app