<tr>
    <td width="100%" style="font-family: Helvetica, arial, sans-serif; font-size: 18px; color: #000000; text-align:left; line-height: 24px;">
        <strong>Hey {{ name | raw }},</strong>
    </td>
</tr>
{{ space.widget({height: 15}) | raw }}