/*Gloabl product card*/
.card-width{
//  width: 406px;
  padding: 0 10px;
  cursor: pointer;
  text-align:left;
  .price-badge{
    position: absolute;
    right: 0px;
    top: 10px;
    background-color: rgba(233,94,94, 0.85);
    padding: 5px;
    color: @white-color;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    z-index: 999999999;
    font-size: 1.1em;
    span{
      font-size: 0.9em;
    }
  }
  .image{
    border-bottom: 3px solid @primary-color;
  }
}
