@import (reference) "../includer.less";

#loginModal, #registerModal{
  .modal-content{
    border-radius: 0px !important;
  }

  .btn-social{
    width: 100%;
    margin-bottom:5px;
    margin-left:0px;
  }
  .btn-facebook{
    margin-top:-30px;
  }
  .btn-twitter{
    margin-bottom: -20px;
  }
}
