@import (reference) "../includer.less";

#loginModal, #registerModal{
  .modal-content{
    border-radius: 0 !important;
  }

  .btn-social{
    width: 100%;
    margin-bottom:5px;
    margin-left:0;
  }
  .btn-facebook{
    margin-top:-30px;
  }
  .btn-twitter{
    margin-bottom: -20px;
  }
}

.greyed-modal{
  .modal-content{
    border-radius: 0 !important;
  }
  .modal-header{
    background-color: @grey-light;
    text-align: center;
    h2{
      text-align: center;
      margin: 0;
    }
  }
}

.modal-fullscreen{
  .fa-close{
    padding:10px;
    font-size: 28px;
    margin-right: 24px;
  }
  .modal-header{
    background-color: lighten(@grey-light, 13);
    border-bottom: 1px solid darken(@grey-light, 5);
  }
}

.modal-backdrop {
  z-index: 1000!important;
}