@import (reference) "./../../../views/assets/css/includer.less";

#inbox {
  padding-top: 40px;
  background-color: @grey-light;
  margin-bottom: -90px;
  padding-bottom: 150px;

  .badge {
    position: absolute;
    left: -6px;
    top: 23px;
    height: 10px;
    padding: 0;
    background-color: @danger-color;
  }
  .badge:empty {
    display: block;
  }
  .header {
    padding: 20px;
    img {
      margin-left: 7px;
      float: left;
    }
    h4 {
      font-size: 30px;
      margin-top: 12px;
      margin-left: 70px;
    }
    .booking {
      padding-top: 30px;
      padding-left:16px;
    }
  }
  td{
    padding:20px;
  }
  .avatar {
    margin-left: 10px;
  }
  .table {
    margin-bottom: 0;
  }
  a{
    color: rgba(70,70,70,1);
  }
}
