{% embed "modules/mail/views/layouts/htmlv2.twig" %}

    {% block title %}
        A test title
    {% endblock %}

    {% block content %}
        <table id="image-left" width="100%">
            <tr>
                <td width="40%">
                    <img src="{{ base64_image('@mail-assets/images/image-blue-girl.png') | raw }}" width="100%" alt="Image">
                </td>
                <td width="60%" class="image-left__content">
                    <h3>Title h3</h3>
                    <p>
                        Lorem ipsum
                    </p>
                    <a class="button button--green">Download</a>
                </td>
            </tr>
        </table>
        <table id="action-module" width="100%">
            <tr>
                <td>
                    <h2>Title</h2>
                    <a class="button button--outline">
                        Begin now
                    </a>
                </td>
            </tr>
        </table>
        <table id="image-right" width="100%">
            <tr>
                <td width="60%" class="image-right__content">
                    <h3>Title h3</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla mollis tempor nisl ut convallis. Nullam vel eros eget erat posuere feugiat congue vitae dui
                    </p>
                    <a class="button button--green">Download</a>
                </td>
                <td width="40%">
                    <img src="{{ base64_image('@mail-assets/images/image-green-girl.png') | raw }}" alt="Image" width="100%">
                </td>
            </tr>
        </table>
    {% endblock %}

{% endembed %}